.form-wrapper {
  min-height: calc(100vh - 80px); /* altura del navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70rem 2rem 5rem;
  background-color: #111;
}

form {
  background-color: #000000;
  padding: 3rem;
  border-radius: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 10rem auto 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}


h2 {
  text-align: center;
  font-size: 2.5rem;
  color: rgba(255, 253, 249, 0.984);
  margin-bottom: 1rem;
}


form label {
  font-weight: 600;
  color: #ddd;
  font-size: 2.2rem;
  display: block;
  margin-bottom: 1.2rem;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"],
form textarea {
   width: 100%;
  padding: 2rem;
  margin-bottom: 1rem;
  border: 1px solid #1a1818;
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 2rem;
  resize: vertical;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
  min-height: 130px;
}


form input:focus,
form textarea:focus {
  border-color: #4B5320;
}


form input[type="checkbox"] {
  transform: scale(3);
  margin-right: 1.8rem;
}


form button {
  width: 100%;
  padding: 2rem;
  margin-top: 3rem;
  background-color: #377741;
  color: antiquewhite;
  border: none;
  border-radius: 6px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s;
}

form button:hover {
  background-color: #44804d;
}

form button:active {
  transform: scale(.98);
}

/* ENLACES */
form a {
  text-align: center;
  color: #377741;
  text-decoration: none;
  font-size: 1.1rem;
}


form a:hover {
  text-decoration: underline;
}
.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 40px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0 6px 20px rgba(0,0,0,0.5);
  animation: fadeInOut 4s forwards;
  z-index: 9999;
  max-width: 500px;
  text-align: center;
}

.toast-exito {
  background-color: #4CAF50;
  color: #fff;
  border-left: 4px solid #45a049;
}

.toast-error {
  background-color: #f44336;
  color: #fff;
  border-left: 4px solid #da190b;
}

@keyframes fadeInOut {
  0%   { opacity: 0; transform: translateY(20px); }
  10%  { opacity: 1; transform: translateY(0); }
  90%  { opacity: 1; }
  100% { opacity: 0; transform: translateY(20px); }
}
