<div class="hero">
  <div class="hero-overlay">
    <div class="hero-container">
      <div class="hero-text">
        <h1>Gestión de turnos para Estéticas</h1>
        <p>
          Optimiza tu centro de belleza con nuestra herramienta de gestión
          integral. Ahorra tiempo y mejora la experiencia de tus clientes.
        </p>
        <a routerLink="/registrarse" class="cta-btn">
          Comenzar Ahora
        </a>
      </div>

      <div class="hero-image">
        <img
        
        />
      </div>
    </div>
  </div>
</div>
